* {
    margin: 0;
    padding: 0;
    font-family: verdana
    ;
}

body {
    background-image: url("../img/gameBacground.jpg");
    background-size: cover;
}

.cont {
    width: 100%;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main {
    width: 650px;
    height: 650px;
    background-color: rgb(5, 60, 5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbols {
    font-weight: 700;
    position: absolute;
    bottom: 180px;
    display: flex;
    gap: 60px;
    color: white;
}

.numbers {
    font-weight: 700;
    display: flex;
    flex-direction: column;
    gap: 49px;
    color: white;
}

.board {
    width: 600px;
    height: 600px;
    border: 1px solid;
    display: grid;
    grid-template-columns:  auto auto auto auto auto auto auto auto; 
}

.squares {
    border: 1px solid white;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}